.loan_simulator_header {
    display: flex;
    align-items: center;
}

.loan_simulator_header_img {
    width: 50px;
    margin-right: 10px;
    height: 50px;
}

.loan_simulator_header_text {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loan_simulator_content {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.loan_simulator_content .input_flex {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
}

.loan_simulator_result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loan_simulator_result_value p:first-child, .loan_simulator_result_group p:first-child {
    font-size: 12px;
    padding-bottom: 5px;
    color: #8a8a8a;
}

.loan_simulator_result_value p:nth-child(2) {
    font-size: 25px;
}

.loan_simulator_result_group p:nth-child(2) {
    font-size: 15px;
}

.loan_simulator_error {
    font-size: 18px;
    padding: 10px;
}

.loan_simulator_loading {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .loan_simulator_result {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .loan_simulator_content {
        display: flex;
        flex-direction: column;
    }

    .loan_simulator_content .input_flex {
        width: calc(100% - 23px);
        margin-bottom: 15px;
    }

    .loan_simulator_result_group, .loan_simulator_result_value {
        margin-bottom: 15px
    }

    .loan_simulator_result button {
        width: 100%;
    }
}